body {
    font-family: Georgia, Garamond, serif;
    background-image: url('logo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 14pt;
}

h1 {
    text-align: center;
    font-size: 28pt;
    font-weight: bold;
    color: white;
    background-color: #000000;
    text-decoration: underline;
}

h2 {
    font-size: 20pt;
    text-align: left;
    color: white;
    background-color: #000000;
    text-decoration: underline;
}

a {
    color: #FFFFFF;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto; 
    max-height: 600px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
